.logo {
  height: 100px;
  margin-left: auto;
  display: block;
}

.form-page {
  padding-top: 25px;
  padding-bottom: 50px;
}

.form-title {
  text-transform: uppercase;
  color: rgb(65, 66, 145);
}

.form-row {
  margin-bottom: 1rem;
}

.form-banner {
  color: #fff;
  background-color: rgba(65, 66, 145, 0.94) !important;
  background-image: linear-gradient(rgba(65, 66, 145, 0.94), rgba(65, 66, 145, 0.94)); 
  background-position-y: 15px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.form-banner a {
  color: #fff;
  text-decoration: none;
}

.form-banner a:hover {
  color: #fff;
  text-decoration: underline;
}

.form-page label {
  font-size: 16px;
}

.form-group {
  margin-bottom: 10px;
}

.form-error {
  font-weight: bold;
  margin-bottom: 0;
}